h4{
  font-family:'Montserrat',sans-serif;
  color:black;
  font-weight:400;
  font-size:28px;
  text-align: left;
  width:100%;
}

h1{
  font-family:'Montserrat',sans-serif;
  color: black;
  font-weight: 600;
  font-size:54px;
  text-align: left;
  max-width: 60%;
  overflow:hidden;
}

.header{
  padding-top: 20px;
}

.heroWrapper{
  padding-top: 166px;
}

.pageContainer{
  margin-left: 120px;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
