h4{
  font-family:'Montserrat',sans-serif;
  color:black;
  font-weight:400;
  font-size:28px;
  text-align: left;
  width:100%;
}

h1{
  font-family:'Montserrat',sans-serif;
  color: black;
  font-weight: 600;
  font-size:59px;
  text-align: left;
  max-width: 860px;
  overflow:hidden;
}

.header{
  padding-left: 80px;
  padding-top: 20px;
}

.welcomeContent{
  padding-left: 80px;
  padding-top: 200px;
}
