
h1{
  font-family:'Montserrat',sans-serif;
  color: black;
  font-weight: 600;
  font-size:3.37em;
  text-align: left;
  overflow:hidden;
}

h2{
  font-family:'Montserrat',sans-serif;
  color:black;
  font-weight:600;
  font-size:1.75em;
  text-align: left;
  width:100%;
}

h4{
  font-family: 'Montserrat',sans-serif;
  color: black;
  font-weight: 400;
  font-size: 1.25em;
  overflow: hidden;
  line-height: 1.7;
}

p{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

img{
  max-width: 100%;
  display: block;
}

.pageContainer{
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 20px;
}

.welcomeText{
  max-width: 65%;
}

.introductionText{
  max-width: 65%;
}

p.pageNavigation{
  position: relative;
  display: inline-block;
  float: right;
  margin-bottom: 0px;
  margin-top: 10px;
  color: black;
}

.emailto{
  font-family: 'Montserrat',sans-serif;
  color: black;
  font-weight: 400;
  font-size: 1.25em;
  padding-bottom: 5px;
  border-bottom: 2px solid #000;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
  text-align: left;
}

.emailto:hover{
  padding-bottom: 10px;
  border-bottom-color: transparent;
}

img.logo{
  display: inline-block;
}

.header{
  padding-top: 20px;
}

.heroWrapper{
  padding-top: 166px;
  padding-bottom: 200px;
}

.workPreview{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.workItem{
  margin: 20px;
  max-width: calc(100% * 1 / 4.7);
  box-sizing: border-box;
  box-shadow: 0 15px 15px rgba(0,0,0,.08);
  overflow: hidden;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.footer{
  max-height: 130px;
}

p.copyright{
  margin-top: 80px;
  text-align: right;
  font-size: 0.9em;
}

/* About page */
.introDesk{
  padding-top: 90px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profileImageDesk{
  max-width: 15em;
  max-height:15em;
  padding: 0% 10% 0% 10%;
}

.aboutMeDesk{
  text-align: center;
  max-width: 90%;
}

/* Education Section */

.Education{
  padding-top: 90px;
}

.educationPlace{
  padding-bottom: 2em;
}

img.UniversityLogo{
  display: inline-block;
}

p.UniversityTitle{
  padding-left:1em;
  display: inline;
  vertical-align: super;
}

p.Degree{
  padding-left: 2.85em;
  margin-top: 0.6em;
  margin-bottom:1.25em;
}

/* Work Section */

.workExp{
  padding-top: 90px;
  display:inline-block;
}

.workPlace{
  padding-bottom: 2em;
}

.sectionTitle{
  padding-bottom: 1em;
}

img.companyLogo{
  display: inline-block;
}

p.companyTitle{
  padding-left:1em;
  display: inline;
  vertical-align: super;
}

p.duration{
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 6px;
  margin-bottom: 0px;
}

p.jobDescription{
  padding-left: 2.75em;
  margin-top: 0.6em;
  margin-bottom:1.25em;
}

}

/* media query for mobile screens */
@media only screen and (max-width:425px), (orientation:portrait) {
  h1{
    font-family:'Montserrat',sans-serif;
    color: black;
    font-weight: 600;
    font-size:1.75em;
    text-align: left;
    overflow:hidden;
  }

  h2{
    font-family:'Montserrat',sans-serif;
    color:black;
    font-weight:600;
    font-size:1.13em;
    text-align: left;
    width:100%;
  }

  h4{
    font-family: 'Montserrat',sans-serif;
    color: black;
    font-weight: 400;
    font-size: 0.9em;
    overflow: hidden;
    line-height: 1.7;
  }

  p{
    font-family: 'Montserrat',sans-serif;
    color: black;
    font-weight: 400;
    font-size: 0.9em;
  }

  .welcomeText{
    max-width: 75%;
  }

  .introductionText{
    max-width: 75%;
  }

  .desktopEmail{
    display:none !important;
  }

  .emailto{
    font-family: 'Montserrat',sans-serif;
    color: black;
    font-weight: 400;
    font-size: 0.9em;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
    text-decoration: none;
    text-align: left;
  }

  .heroWrapper{
    padding-top: 110px;
    padding-bottom: 150px;
  }

  .workPreview{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
  }

  .workItem{
    margin: 25px 5px 25px 5px;
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(0,0,0,0.16);
    overflow: hidden;
  }

  .logo{
    width: 30px;
    height:30px;
  }

  .footer{
    height: 150px;
  }

  p.copyright{
    margin-top: 80px;
    text-align: center;
    font-size: 0.7em;
  }

/* About page - mobile*/

  .introDesk{
    display: none;
  }

  .profileImageDesk{
    display: none;
  }

  .aboutMeDesk{
    display: none;
  }

  .introMob{
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profileImageMob{
    max-width: 10em;
    max-height: 10em;
  }

  .aboutMeMob{
    text-align: center;
    max-width: 100%;
  }

  .workExp{
    display: none;
  }

  .workExpMob{
    display: inline-block;
  }

  p.jobDescription{
    padding-left: 3.4em;
    margin-top: 0.6em;
    margin-bottom:1em;
  }

  p.duration{
    display: block;
    float: left;
    padding-left: 3.4em;
  }
}


/* media query for screens larger than mobile*/
@media only screen and (min-width:426px) {

  .mobileEmail{
    display:none;
  }

  .introMob{
    display: none;
  }

  .profileImageMob{
    display: none;
  }

  .aboutMeMob{
    display: none;
  }

  .workExpMob{
    display: none;
  }

  .workItem:hover {
    margin: 20px;
    max-width: calc(100% * 1 / 4.7);
    box-sizing: border-box;
    box-shadow: 0 15px 15px rgba(0,0,0,.08);
    overflow: hidden;
    -webkit-transition: all 200ms ease;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease;
    -moz-transform: scale(1.05);
    transition: all 200ms ease;
    transform: scale(1.05);
  }

  .workItem:hover .workDesc {
	margin-top:-40px;
  height:40px;
  }

  .workDesc {
  width: 100%;
  height: 0px;
  padding-top: 0px;
  overflow:hidden;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  margin-top:300px;
  position:absolute;
  background: rgba(0, 0, 0, 0.5);
  text-align:center;
  color: #FFF;
  }
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
